<mat-toolbar>
  <span>Phone Shop</span>
  <span class="example-spacer"></span>
  <button mat-button [routerLink]="['/']">Home</button>
  <button mat-button (click)="openDialog()">Search</button>

  <span class="example-spacer"></span>
  <button mat-button [routerLink]="['/login']">Login</button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>


<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->