
.grid-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
}

.grid-item {
  padding: 20px;
  
}

.grid-item-2A {
  grid-row: 2;
  grid-column: 1 / span 2;
}
img{
    width: 500px;
    height: 500px;
}
.topics{
    font-size: smaller;
    color: #808080;
}
.netPrice{
  font-size:larger;
}