<div class="center-container">

    <form class="example-form">
        <h1>Login</h1>
        <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="User">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Contact number</mat-label>
            <input type="number" matInput placeholder="07x-xxxxxxxx">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Colombo, Sri Lanka">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Postle ID</mat-label>
            <input type="number" matInput placeholder="10320">
        </mat-form-field>

        <button mat-raised-button color="primary">Login</button>
    </form>
</div>