<div class="center-container">
    <form #form="ngForm" (ngSubmit)="signUp(form)">

        <!-- Name -->
        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput type="text" name="Name" #Name="ngModel" [(ngModel)]="user.name" placeholder="Jhone wick"
                required class="form-control" />
            <div *ngIf="Name.errors && form.submitted" class="text-danger">
                Please enter the name
            </div>
        </mat-form-field>



        <!-- Password -->
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="Password" #Password="ngModel" [(ngModel)]="user.password"
                placeholder="123" required class="form-control" />
            <div *ngIf="Password.errors && form.submitted" class="text-danger">
                Please enter the password
            </div>
        </mat-form-field>


        <!-- Contact -->
        <mat-form-field class="example-full-width">
            <mat-label>Contact</mat-label>
            <input matInput type="number" name="contact" #Contact="ngModel" [(ngModel)]="user.contact" required
                class="form-control" placeholder="07x-xxxxxxx" />
            <div *ngIf="Contact.errors && form.submitted" class="text-danger">
                Please enter the Contact number
            </div>
        </mat-form-field>


        <!-- Address -->
        <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <textarea matInput name="address" #Address="ngModel" [(ngModel)]="user.address" required
                class="form-control" placeholder="Colombo,Sri lanka"></textarea>
            <div *ngIf="Address.errors && form.submitted" class="text-danger">
                Please enter the address
            </div>
        </mat-form-field>


        <!-- PostleCode -->
        <mat-form-field class="example-full-width">
            <mat-label>Postle code</mat-label>
            <input matInput type="number" name="postleCode" #PostleCode="ngModel" [(ngModel)]="user.postlID"
                placeholder="10320" required class="form-control" />
            <div *ngIf="PostleCode.errors && form.submitted" class="text-danger">
                Please enter the Postle Code
            </div>
        </mat-form-field>

        <br>
        <div>
            <button mat-raised-button color="primary" type="submit">Sign Up</button>
        </div>
    </form>
</div>